<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withoutcat.user.mapper.UserCustomerMapper">
<select id="getCustomerByWrapper" resultType="com.withoutcat.user.data.vo.UserCustomerVO">
    SELECT
        u.id,
        u.account,
        u.password,
        u.name,
        u.phone,
        u.address,
        u.type,
        u.deleted,
        u.create_time,
        u.create_by,
        u.update_time,
        u.update_by,
        t.balance,
        t.vip_level,
        t.vip_discount_id,
        t.remark
    FROM t_user_customer t LEFT JOIN t_user u USING (id)
    ${ew.customSqlSegment}
</select>

</mapper>
